.message {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem 3rem;
}

.message-body {
  display: flex;
  align-items: center;
}

.text {
  background: rgb(60, 66, 82);
  height: 20px;
  border-radius: 40px;
  padding: 8px;
  color: #fff;
  margin-left: 5px;
}

.message-time {
  color: rgb(150, 148, 148);
  margin-top: 0.5rem;
}
